[submodule "data-cleaning"]
	path = data-cleaning
	url = https://github.com/mapping-elections/data-cleaning.git
[submodule "elections-data"]
	path = elections-data
	url = https://github.com/mapping-elections/elections-data.git
